In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("./carros_raw.csv", index_col=0)

In [3]:
df['km'] = [re.sub(r'\D*','', str(x)) for x in df['km']]

In [4]:
df = df[df['km'] != '']
df.km = [int(x) for x in df.km]

In [5]:
df.head()

,url,brand,model,version,year,km,price
0,/clasificados/usados/ford/ikon/ambiente-ac/176...,Ford,Ikon,Ambiente Ac,2001,123467,31500
1,/clasificados/usados/ford/focus/lx/17824644,Ford,Focus,LX,2000,140000,33000
2,/clasificados/usados/ford/sable/ls-premium/177...,Ford,Sable,LS Premium,2001,145630,33000
3,/clasificados/usados/chevrolet/chevy-sedan/16l...,Chevrolet,Chevy Sedán,1.6L Monza,2001,147500,35000
4,/clasificados/usados/ford/focus/ambiente/17836320,Ford,Focus,Ambiente,2001,219143,35000

In [6]:
df.to_csv('carros_clean.csv')