In [1]:
import pandas as pd
import re
import unidecode

In [2]:
df = pd.read_csv("./carros_raw.csv", index_col=0)

In [3]:
#Reemplazar todo lo que no sea 
df['km'] = [re.sub(r'\D*','', str(x)) for x in df['km']]

In [4]:
#Eliminar carros con kilometraje vac√≠o
df = df[df['km'] != '']
df.km = df.km.apply(int)

In [5]:
columnas = ['model', 'brand', 'version']

for c in columnas:
    df[c] = df[c].apply(lambda x: unidecode.unidecode(x).strip().lower())

In [6]:
df.head()

,url,brand,model,version,year,km,price
0,/clasificados/usados/ford/ikon/ambiente-ac/176...,ford,ikon,ambiente ac,2001,123467,31500
1,/clasificados/usados/ford/focus/lx/17824644,ford,focus,lx,2000,140000,33000
2,/clasificados/usados/ford/sable/ls-premium/177...,ford,sable,ls premium,2001,145630,33000
3,/clasificados/usados/chevrolet/chevy-sedan/16l...,chevrolet,chevy sedan,1.6l monza,2001,147500,35000
4,/clasificados/usados/ford/focus/ambiente/17836320,ford,focus,ambiente,2001,219143,35000

In [7]:
df.to_csv('carros_clean.csv')